#CORS URLS
CORS_ORIGIN=

#App environment variables
PORT=
RATE_TTL=
RATE_LIMIT=

#Database environment variables
DB_TYPE=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

#Presign upload variables
STORAGE_MAX_SIZE_BYTES=
STORAGE_REGION=
STORAGE_ACCOUNT_ID=
STORAGE_ENDPOINT=
STORAGE_ACCESS_KEY_ID=
STORAGE_SECRET_ACCESS_KEY=
STORAGE_BUCKET=
STORAGE_PUBLIC_BASE_URL=
STORAGE_EXPIRES_IN=

